<div class="container">
  <div class="d-flex header">
    <form class="pusher" [formGroup]="form">
      <mat-form-field color="primary">
        <mat-label>Breeds</mat-label>
        <mat-select
          (selectionChange)="onChanged()"
          name="breed"
          formControlName="breed"
        >
          <mat-option value="none">None</mat-option>
          <mat-option *ngFor="let breed of breeds" [value]="breed.id">
            {{ breed.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Limit</mat-label>
        <mat-select
          (selectionChange)="onChanged()"
          formControlName="limit"
          name="limit"
        >
          <mat-option *ngFor="let perPage of itemPerPage" [value]="perPage">
            {{ perPage }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div class="d-flex card_wrapper">
    <mat-card *ngFor="let cat of cats" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="example-header-image" [src]="cat.url" alt="img" />
        </div>
        <mat-card-title *ngIf="cat.breeds!.length > 0">{{
          cat.breeds![0].name
        }}</mat-card-title>
        <mat-card-subtitle *ngIf="cat.breeds!.length > 0"
          >Cat Breed</mat-card-subtitle
        >
        <mat-card-subtitle class="mt-10" *ngIf="cat.breeds!.length === 0"
          >Cat</mat-card-subtitle
        >
      </mat-card-header>
      <img class="card-img" [src]="cat.url" alt="img" />
      <div class="item">
        <h2 *ngIf="cat.breeds!.length > 0" class="title">
          <label [for]="'toggle-description-' + cat.id">
            {{ cat.open ? "Hide description" : "Open description" }}
          </label>
        </h2>
        <input
          [ngClass]="{ descr_opened: cat.open }"
          type="checkbox"
          [id]="'toggle-description-' + cat.id"
          (click)="openDescription(cat)"
          class="toggle-checkbox"
        />
        <div class="description-container">
          <p *ngIf="cat.breeds!.length > 0" class="descr" class="description">
            {{ cat.breeds![0].description }}
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
